<ion-header>
  <ion-toolbar>
    <ion-title>Establecer Nueva Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centrado">
  <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdatePassword()">
    <ion-item>
      <ion-input label="Nueva Contraseña"
                 [type]="isPasswordVisible ? 'text' : 'password'"
                 formControlName="newPassword"
                 placeholder="Mínimo 6 caracteres"
                 labelPlacement="floating">
        <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()">
          <ion-icon [name]="isPasswordVisible ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="updatePasswordForm.get('newPassword')?.invalid && updatePasswordForm.get('newPassword')?.touched">
      <p *ngIf="updatePasswordForm.get('newPassword')?.errors?.['required']">La nueva contraseña es requerida.</p>
      <p *ngIf="updatePasswordForm.get('newPassword')?.errors?.['minlength']">Mínimo 6 caracteres.</p>
    </ion-text>

    <ion-item>
      <ion-input label="Confirmar Contraseña"
                 [type]="isPasswordVisible ? 'text' : 'password'"
                 formControlName="confirmPassword"
                 placeholder="Repite tu nueva contraseña"
                 labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="updatePasswordForm.get('confirmPassword')?.invalid && updatePasswordForm.get('confirmPassword')?.touched">
      <p *ngIf="updatePasswordForm.get('confirmPassword')?.errors?.['required']">Confirmar contraseña es requerido.</p>
    </ion-text>
    <ion-text color="danger" *ngIf="updatePasswordForm.errors?.['mismatch'] && updatePasswordForm.get('confirmPassword')?.dirty">
      <p>Las contraseñas no coinciden.</p>
    </ion-text>

    <ion-button class="actualizar" expand="block" type="submit" [disabled]="updatePasswordForm.invalid || isLoading">
      <ion-spinner *ngIf="isLoading" name="circles"></ion-spinner>
      <span *ngIf="!isLoading">Actualizar Contraseña</span>
    </ion-button>
  </form>
  </div>
</ion-content>