.loading-container, .error-container, .empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;

  ion-spinner {
    margin-bottom: 10px;
  }

  ion-icon {
    margin-bottom: 10px;
    font-size: 4em;
    color: black;
  }

  p {
    color: black;
    margin-bottom: 20px;
  }
}

ion-card {
  margin: 10px;
  border-radius: 8px;
  color: black;
  --background: #ffffff; 
}

ion-card-header {
  padding-bottom: 0;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

ion-card-subtitle {
  font-size: 0.9em;
  color:black;
}

ion-card-content {
  padding-top: 5px;

  p {
    margin-bottom: 5px;
    font-size: 0.95em;
  }
}

ion-item-divider {
  margin-top: 15px;
  margin-bottom: 10px;
 --background: #7cf078; 
  --border-color: var(--ion-color-medium);
  border-radius: 4px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 60px;
  align-items: center;
  --background: #ffffff; 

  ion-thumbnail {
    --size: 60px;
    margin-inline-end: 10px;
    border-radius: 4px;
    overflow: hidden;
  }

  ion-label {
    color: black;
    h2 {
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 2px;
    }
    p {
      font-size: 0.85em;
      margin-top: 0;
    }
  }

  ion-text {
    font-weight: bold;
    font-size: 1em;
    color: black;
  }
}

ion-content {
  --background: rgb(188, 218, 218);

}
.centrado {
  max-width: 50cap;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  --background: rgb(188, 218, 218);
  
}

ion-list{
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(188, 218, 218);
}