<ion-list>
  <ion-item button detail="false" (click)="goToProfile()">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-item>

  <ion-item button detail="false" (click)="goToCart()">
    <ion-icon name="cart-outline" slot="start"></ion-icon>
    <ion-label>Carrito</ion-label>
  </ion-item>

  <ion-item button detail="false" (click)="logout()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    <ion-label>Cerrar Sesión</ion-label>
  </ion-item>
</ion-list>